<%- include('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %>

<main>
    <h1>Bem-vindo ao seu painel da Magalu!</h1>
    <hr />
    <p>Aqui você gerencia produtos, pedidos e seus clientes</p>
    
    <a href="/produtos">
    <img 
        src="/images/Produtos.png" 
        alt="Produtos" 
        class="img-fluid"
        width="930"; 
        height="300"
    >
    </a>
    <p> </p>
    <a href="/cliente">
    <img 
        src="/images/Clientes2.png" 
        alt="Clientes" 
        class="img-fluid"
        width="930"; 
        height="300"
    >
    </a>
    <p> </p>
    <a href="/pedidos">
    <img 
        src="/images/Pedidos2.png" 
        alt="Pedidos" 
        class="img-fluid"
        width="930"; 
        height="300"
    >
    </a>
</main>

<%- include('partials/footer.ejs') %>